[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-mpvqml
Exec=/usr/bin/harbour-mpvqml
Name=MpvQml
Name[ru]=MpvQml

[X-Application]
Permissions=Audio;Downloads;Internet;Music;RemovableMedia;Videos;UserDirs
OrganizationName=org.meecast
ApplicationName=mpvqml
ExecDBus=/usr/bin/harbour-mpvqml
